img {
<<<<<<< HEAD:Challenge_Website/styles.css
width: 500px;
height: 1000x;
=======
width: 200px;
>>>>>>> 5ce3ac741bf0fa8ad922058a3d62ff6c9d3ebdd5:styles.css
}
body {
    text-align:center;
    font-family: "Arial";
}
